<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center">Job description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="job">
    <ion-item>
      <img  *ngIf="job.company_logo" [src]="job.company_logo"  class="avatar">
      
  </ion-item>
  
    <h3 style="font-size: 16px; text-align: center; margin: 2px 2px;">{{job.company}}</h3>
    <h4  class="centered-text">{{job.created_at}}</h4>
  
  <ion-item>
      <h4 style="font-size: 18px">{{job.title}}</h4>
  </ion-item>

  <ion-item>
      <h6 style="font-size: 14px">Type: {{job.type}}</h6>
  </ion-item>
  <br>
  <ion-item>
    <div style="font-size: 14px" [innerHTML]="job.description"></div>
  </ion-item>

  <ion-item>
      <div><h4>How to apply</h4></div>
  </ion-item>
  <ion-item>
    <div style="font-size: 14px" [innerHTML]="job.how_to_apply"></div>
  </ion-item>
  <ion-item>
    <p style="font-size: 14px" *ngIf="job.url">For more information you can visit <a [href]="job.url"> {{job.url}}</a> </p>
  </ion-item>
  
  </ion-list>
  
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
       
        <!-- <ion-icon name="arrow-back" style="font-size:22px; position: relative; left: 15px;"></ion-icon> -->
      </ion-toolbar>
  
</ion-footer>
